:root {
    --settings-input-main-bg-color: rgba(255, 255, 255, 0.04);
    --settings-input-border-width: 1px;
    --settings-input-border-style: solid;
    --settings-input-border-color: #3f3f46;
    --settings-input-border-radius: 6px;
    --settings-input-font-size: 16px;
}
input:focus {
    outline:none!important;
}
.custom-input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-gap: 10px;
    justify-content: flex-end;
}
.input-title {
    color: rgb(255 255 255 / 50%);
    font-size: 17px;
    pointer-events: none;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 2.5px;
    overflow-wrap: anywhere;
}
.input-subtitle {
    font-size: 12px;
    color: rgb(255 255 255 / 25%);
    font-weight: 400;
    overflow-wrap: anywhere;
}
.custom-input a {
    color: rgb(255 255 255 / 30%);
}
.disabled-input {
    pointer-events: none !important;
    opacity: 0.25 !important;
}
/* Textarea */
.textfield-input input {
    width: 36px;
    height: fit-content;
    padding: 10px;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    font-weight: 500;
    font-family: unset;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
/* Checkbox */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    cursor: pointer;
    color: transparent;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
    font-family: "Mona Sans";
}
.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.checkbox-container input[type="checkbox"]:disabled {
    cursor: not-allowed;
}
.checkbox-fill {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: transparent;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #e4e4e7;
    font-weight: 900;
    opacity: 0.02;
    pointer-events: none;
    transition: opacity 150ms ease, background-color 150ms ease;
}
.checkbox-container input[type="checkbox"]:checked + .checkbox-fill {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.08);
}
.checkbox-container:hover .checkbox-fill {
    opacity: 0.1;
}
/* Color */
.color-input input {
    width: 40px;
    height: 42px;
    border-radius: 7px;
    background-color: var(--settings-input-main-bg-color);
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    font-family: unset;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
    cursor: pointer;
}
.color-input input::-moz-color-swatch {
    border: none;
    border-radius: var(--settings-input-border-radius);
    padding: 0;
}
.color-input input::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-input input::-webkit-color-swatch {
    border: none;
    border-radius: var(--settings-input-border-radius);
    padding: 0;
}
/* Dropdown */
.dropdown-input input {
    width: 90px;
    height: fit-content;
    border-radius: var(--settings-input-border-radius);
    background-color: rgb(0 0 0 / 0%);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    border: none;
    padding: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: unset;
}
.dropdown-input .dropdown-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    position: relative;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.dropdown-input .dropdown-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 6px 10px 10px 0;
    cursor: pointer;
}
.dropdown-input .dropdown-icon::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    transform: rotate(-45deg);
    margin-top: 2px;
}
.dropdown-input .dropdown-list-container {
    position: absolute;
    width: 300px;
    min-width: 100%;
    overflow-y: auto;
    color: rgb(255 255 255 / 70%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
    top: 100%;
    display: none;
}
.dropdown-input:not(.dropdown-input-special) .dropdown-list-container {
    max-height: 300px;
    border: 1px solid #3f3f46;
    background: #323238;
    border-radius: 6px;
    padding: 6px;
}
.dropdown-input .dropdown-item {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-bottom: 4px;
    background-color: #29292e;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    border-radius: 6px;
    transition: background-color 150ms ease, padding-left 150ms ease, border-color 150ms ease;
}
.dropdown-input:not(.dropdown-input-special) .selected-list-item {
    background-color: #3f3f46 !important;
    border-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: 500;
}
.dropdown-input .dropdown-none-item {
    padding: 10px;
    font-size: 18px;
}
.dropdown-input .dropdown-item:hover {
    background-color: #3f3f46;
    padding-left: 18px;
    border-color: rgba(255, 255, 255, 0.1);
}
.dropdown-input-container:hover:not(:has(input:disabled)) .dropdown-list-container {
    display: block;
}
.dropdown-input-special .dropdown-input-container {
    flex-direction: column;
    width: 100%;
}
.dropdown-input-special .dropdown-list-container {
    position: unset;
    display: unset !important;
    height: 300px;
    max-height: 500px;
    background-color: #1f1f23;
    border: 1px solid #3f3f46;
    border-radius: 6px;
    padding: 6px;
}
.dropdown-input-special .dropdown-item {
    margin-bottom: 5px;
    background-color: #29292e;
    border: 1px solid #3f3f46;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    border-radius: 6px;
    transition: background-color 150ms ease, border-color 150ms ease;
}
.dropdown-input-special .dropdown-item.large {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-break: break-all;
    padding: 15px;
}
.dropdown-input-special .dropdown-item.large small {
    opacity: 0.5;
}
.dropdown-input-special .dropdown-icon {
    display: none;
}
.dropdown-input-special input {
    width: 95%;
}
.selected-list-item {
    border: 2px solid rgb(255 255 255 / 40%) !important;
    border-bottom-width: 6px !important;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 50%) !important;
    padding: 13px !important;
}
.selected-list-item:hover {
    background-color: rgb(255 255 255 / 10%) !important;
}
.dropdown-input-special input[disabled] {
    display: none;
}
/* Language dropdown */
.language-dropdown-input .selected-language-img {
    width: 30px;
    height: 19px;
    background-color: rgb(0 0 0 / 0%);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    border: none;
    padding: 7px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: unset;
    border-radius: 13px;
}
.language-dropdown-input .dropdown-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    color: rgb(255 255 255 / 75%);
    font-size: var(--settings-input-font-size);
    position: relative;
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.language-dropdown-input .dropdown-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 6px 10px 10px 0;
    cursor: pointer;
}
.language-dropdown-input .dropdown-icon::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    transform: rotate(-45deg);
    margin-top: 2px;
}
.language-dropdown-input .dropdown-list-container {
    position: absolute;
    width: fit-content;
    min-width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    color: rgb(255 255 255 / 70%);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    z-index: 3;
    top: 100%;
    display: none;
    border: 1px solid #3f3f46;
    background: #323238;
    border-radius: 6px;
    padding: 6px;
}
.language-dropdown-input .dropdown-item {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 6px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 150ms ease, padding-left 150ms ease;
}
.language-dropdown-input .dropdown-item img {
    border-radius: 5px;
    width: 2rem;
    box-shadow: 0 2px 0 rgb(0 0 0 / 50%);
}
@media (max-width: 768px) and (pointer: coarse) and (hover: none) {
    .language-dropdown-input .dropdown-item img {
        width: 2.3rem;
    }
}
.language-dropdown-input .dropdown-none-item {
    padding: 10px;
    font-size: 18px;
}
.language-dropdown-input .dropdown-item:hover {
    background-color: rgb(255 255 255 / 20%);
}
.omnichess-fancy-button {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 6px !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    transition: transform 0.15s cubic-bezier(0.16, 1, 0.3, 1), background-color 0.15s, border-color 0.15s;
    box-shadow: none !important;
}
.omnichess-fancy-button:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2) !important;
    transform: translateY(-1px);
    cursor: pointer;
}
.omnichess-fancy-button:active {
    transform: scale(0.97) !important;
    background-color: rgba(255, 255, 255, 0.04);
}
/* Floaty */
.open-floaty-btn {
    width: 43px;
    height: 47px;
    border-radius: 5px;
    font-size: 23px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: var(--settings-input-border-radius);
    background-color: var(--settings-input-main-bg-color);
    border-width: var(--settings-input-border-width);
    border-style: var(--settings-input-border-style);
    border-color: var(--settings-input-border-color);
}
.open-floaty-btn:active {
    border-width: 2px !important;
    transform: translateY(2px) !important;
    margin-top: 0px !important;
}
dialog {
    border-radius: 12px;
    background-color: #29292e;
    border: 1px solid #3f3f46;
    color: #e4e4e7;
    padding: 0;
    max-height: 85%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

dialog[open] {
    animation: dialogShow 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@keyframes dialogShow {
    from {
        opacity: 0;
        transform: scale(0.96) translateY(8px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(2px);
}
dialog h1 {
    font-stretch: expanded;
    text-transform: uppercase;
    margin-bottom: 5px !important;
    color: #f4f4f5 !important;
    font-weight: 700;
}
dialog h3 {
    margin: 0;
    margin-bottom: 5px;
}
dialog .custom-input {
    background-color: #1f1f23;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #3f3f46;
}
.floaty-body:nth-child(2) > .custom-input {
    background-color: #1f1f23;
    border: 1px solid #3f3f46;
}
dialog .setting-panel-title {
    color: #e4e4e7;
}
dialog .setting-panel {
    max-width: unset;
    border: 1px solid #3f3f46;
    padding: 10px;
    background-color: #1f1f23;
}
dialog .input-title {
    color: #e4e4e7;
}
dialog .input-subtitle {
    color: #a1a1aa;
    font-size: 13px;
}
.floaty-container a {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e4e7;
}
.floaty-container {
    background-color: #29292e;
    padding: 6px 3px;
}
.floaty-close-btn {
    width: fit-content;
    height: 45px;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: var(--settings-input-border-radius);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #3f3f46;
    color: #e4e4e7;
    cursor: pointer;
    transition: background-color 150ms ease, border-color 150ms ease;
}
.floaty-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
}
.floaty-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3f3f46;
    padding-bottom: 10px;
    background-color: #202024;
    padding: 12px 16px;
    border-radius: 12px 12px 0 0;
    gap: 30px;
}
.floaty-header .title * {
    margin: 0;
    color: #e4e4e7;
    overflow-wrap: anywhere;
}
.floaty-body {
    background-color: #29292e;
    border-radius: 0 0 12px 12px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 12px 16px;
}
.floaty-setting-container {
    background-color: rgb(0 0 0 / 15%);
    padding: 5px;
    border-radius: 6px;
}
.selected-tab-item {
    background: rgba(255, 255, 255, 0.08) !important;
}
.tabs-input {
    display: flex;
    height: fit-content;
    border-radius: 6px;
    border: 1px solid #3f3f46;
    min-height: 59px;
}
.tabs-list-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
}
.tab-item {
    display: flex;
    align-items: center;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(255 255 255 / 3%);
    flex-shrink: 0;
    opacity: 0.5;
}
.tab-item:hover {
	cursor: pointer;
    background-color: rgb(255 255 255 / 20%) !important;
}
.tab-item p {
    padding: 20px 30px;
    padding-left: 5px;
    margin: 0;
    text-transform: capitalize;
}
@media (max-width: 700px) {
    dialog {
        max-width: 95% !important;
        height: fit-content;
        max-height: 95%;
    }
    .floaty-container {
        padding: 0;
    }
    .floaty-body {
        padding: 5px;
    }
    .dropdown-input .dropdown-list-container {
        width: 70vw !important;
        left: 0;
    }
    .language-dropdown-input .dropdown-list-container {
        background: #29292e !important;
    }
}